<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="border-bottom: 4px dotted violet;margin: 100px auto;max-width:600px;text-align: center;padding-bottom: 25px;">
        <h1 >thats my header</h1>
        <form action="/articles/">
            <input type="text" name="query"/>
            <input type="submit" value="submit" />
        </form>
        
    </header>
    {% block content %}

    {% endblock content %}
</body>
</html>